name: Publish
on:
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          registry-url: "https://registry.npmjs.org"
      - name: Install deps
        run: |
          deno install
      - name: Test
        run: |
          deno run test
      - name: Build
        run: |
          deno run build
      - name: Publish
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm publish --provenance --access public
